* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  font-family: "Raleway";
  font-style: normal;
}

.header {
  display: block;
  height: 70px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);

  &__h1 {
    text-align: center;
    position: absolute;
    font-weight: 300;
    margin: 17px;
    color: #08a6e4;
  }

  &__links {
    display: none;
    opacity: 0;
  }

  &__button {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 12px;
    margin: 0 auto;
    border: none;
    right: 25px;
    top: 30px;
  }
}

.home {
  margin: 0 auto;
  display: block;
  position: relative;
  width: 310px;
  height: 213px;
  margin-top: 100px;
  left: 33px;

  &__h2 {
    position: relative;
    width: 162px;
    height: 57px;
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    left: 73.59px;
  }

  &__p {
    position: relative;
    width: 308px;
    height: 57px;
    left: 1.56px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #000000;
  }

  &__button {
    cursor: pointer;
    width: 310px;
    height: 67px;
    background: #08a6e4;
    color: white;
    border: none;
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
    border-radius: 40px;
  }
}

.background {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 51px;
  margin: 0 auto;
}

.results {
  display: block;
  width: 375px;
  top: 714px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #000000;
  margin: 0 auto;

  &__h3 {
    display: block;
    font-weight: 300;
    margin-top: 13px;
  }

  .person {
    position: relative;
    width: 117px;
    height: 140px;
    margin-top: 25px;
    left: 129px;

    &__background {
      position: relative;
      background-color: #fb3b64;
      width: 62.71px;
      height: 62.71px;
      border-radius: 50%;
    }
    &__img {
      position: relative;
      z-index: 2;
      left: 20px;
    }
    &__number {
      position: relative;
      font-weight: 800;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 5.96px;
      margin: 11px 0;
      color: #000000;
    }

    &__details {
      position: relative;
      font-weight: 400;
      font-size: 17px;
      line-height: 20px;
      text-align: center;

      color: #a5a5a5;
    }
  }
  .eye {
    position: relative;
    width: 117px;
    height: 140px;
    margin-top: 25px;
    left: 129px;

    &__background {
      position: relative;
      background-color: #08a6e4;
      width: 62.71px;
      height: 62.71px;
      border-radius: 50%;
    }
    &__img {
      position: relative;
      top: 10px;
      left: 30px;
      z-index: 2;
    }
    &__number {
      position: relative;
      font-weight: 800;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 5.96px;
      margin: 11px 0;
      color: #000000;
    }

    &__details {
      position: relative;
      font-weight: 400;
      font-size: 17px;
      line-height: 20px;
      text-align: center;

      color: #a5a5a5;
    }
  }
  .group {
    position: relative;
    width: 117px;
    height: 140px;
    margin-top: 25px;
    left: 129px;

    &__background {
      position: relative;
      background-color: #55dfb4;
      width: 62.71px;
      height: 62.71px;
      border-radius: 50%;
    }
    &__img {
      position: relative;
      z-index: 2;
      left: 30px;
    }
    &__number {
      position: relative;
      font-weight: 800;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 5.96px;
      margin: 11px 0;
      color: #000000;
    }

    &__details {
      position: relative;
      font-weight: 400;
      font-size: 17px;
      line-height: 20px;
      text-align: center;
      color: #a5a5a5;
    }
  }
}

.details {
  display: flex;
  flex-direction: column;

  gap: 40px;
  background: #f7f7f7;
  width: 100%;
  margin: 0px auto;
  margin-top: 40px;

  .first {
    background-color: white;
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
    max-width: 350px;
    margin-top: 42px;

    &__description {
      &--h3 {
        position: relative;
        font-family: "Raleway";
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 35px;
        margin: 0 auto;
        max-width: 272px;
        max-height: 370px;
        padding-bottom: 50px;
      }

      &--p {
        position: relative;
        margin-top: 10px;
        margin-left: 21px;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        max-width: 272px;
        margin: 0 auto;
      }
    }
    &__image {
      margin-bottom: 30px;
      margin: 0 auto;
      width: 50%;
      padding-bottom: 30px;
      &--photo {
        position: absolute;
        margin: 0 auto;
        z-index: 2;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }
      &--circle {
        position: absolute;
        background-color: #fb3b64;
        border-radius: 41px;
        z-index: 1;
        margin: 0 auto;
        width: 90.12px;
        height: 90.12px;
        top: 15px;

        right: 47px;
      }
    }
  }

  .shop {
    background-color: white;
    position: relative;
    width: 90%;
    margin: 0 auto;
    max-width: 350px;

    &__description {
      &--h3 {
        position: relative;
        max-width: 272px;
        max-height: 72px;
        font-family: "Raleway";
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 35px;
        margin: 0 auto;
        margin-top: 40px;
      }

      &--p {
        position: relative;
        margin-top: 10px;
        margin-left: 21px;
        max-width: 272px;
        height: 84px;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        margin: 40px auto;
        margin-top: 40px;
      }
    }
    &__image {
      margin-top: 20px;
      &--photo {
        position: relative;
        margin: 0 auto;
        z-index: 2;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }
      &--circle {
        position: relative;
        width: 131.88px;
        height: 131.7px;
        background-color: #08a6e4;
        border-radius: 50%;
        z-index: 1;
        margin: 0 auto;
      }
    }
  }

  .brand {
    background-color: transparent;
    margin: 42px 0;
    position: relative;
    width: 90%;
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 44px;

    &__description {
      background-color: white;
      &--h3 {
        position: relative;
        max-width: 274px;
        font-family: "Raleway";
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 35px;
        margin: 0 auto;
        padding-top: 31px;
      }

      &--p {
        position: relative;
        margin-left: 21px;
        max-width: 274px;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        margin: 0px auto;
        margin-top: 20px;
        padding-bottom: 20px;
      }
    }
    &__image {
      &--photo {
        position: relative;
        margin: 0 auto;
        width: 192.76px;
        height: 109.93px;
        z-index: 2;
      }
      &--circle {
        display: flex;
        position: relative;
        background-color: #55dfb4;
        z-index: 1;
      }
    }
  }
}

.pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 53px;
  gap: 20px;

  &__h3 {
    width: 114px;
    height: 42px;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
  }
}

.suscription {
  border: 1px solid #eb476e;
  background-color: white;
  position: relative;
  width: 293px;
  height: 251px;
  border-radius: 18px;
  margin: 0 auto;
  margin-bottom: 30px;

  &__price {
    display: inline-block;
    position: relative;
    display: inline-block;
    left: 20px;
    top: -15px;

    &--h4 {
      font-size: 20px;
      line-height: 24px;
    }
    &--p {
      margin-top: 14px;
      color: #eb476e;
      font-weight: 300;
      font-size: 46px;
    }
  }
  &__ul {
    position: relative;
    display: inline-block;
    list-style: none;
    left: 90px;
    top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    &--li {
      position: relative;
      margin-bottom: 15px;
      &:before {
        content: "";
        height: 15px;
        width: 15px;
        background-image: url("./assets/Checkbox.png");
        background-position: center center;
        background-size: cover;
        position: absolute;
        top: 6px;
        left: -25px;
      }
    }
  }
  &__button {
    cursor: pointer;
    background-color: #eb476e;
    position: relative;
    width: 150px;
    height: 50px;
    border-radius: 18px;
    bottom: -40px;
    left: 60px;
    border: none;
    color: white;
  }
}

.suscription1 {
  background-color: white;
  position: relative;
  width: 293px;
  height: 251px;
  border: 1px solid #07ace6;
  border-radius: 18px;
  margin: 0 auto;
  margin-bottom: 30px;

  &__price {
    display: inline-block;
    position: relative;
    display: inline-block;
    left: 20px;
    &--h4 {
      font-size: 20px;
      line-height: 24px;
    }
    &--p {
      color: #07ace6;
      margin-top: 14px;
      font-weight: 300;
      font-size: 46px;
    }
    &--offer {
      font-weight: 700;
      font-size: 12px;
      line-height: 14px;
    }
  }
  &__ul {
    position: relative;
    display: inline-block;
    list-style: none;
    top: 26px;
    left: 55px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    &--li {
      position: relative;
      margin-bottom: 15px;
      &:before {
        content: "";
        height: 15px;
        width: 15px;
        background-image: url("./assets/Checkbox.png");
        background-position: center center;
        background-size: cover;
        position: absolute;
        top: 6px;
        left: -25px;
      }
    }
  }
  &__button {
    cursor: pointer;
    background-color: #07ace6;
    position: relative;
    width: 150px;
    height: 50px;
    border-radius: 18px;
    bottom: -40px;
    left: 60px;
    border: none;
    color: white;
  }
}

.suscription2 {
  background-color: white;
  position: relative;
  width: 293px;
  height: 251px;
  border: 1px solid #55dfb4;
  border-radius: 18px;
  margin: 0 auto;

  &__price {
    display: inline-block;
    position: relative;
    display: inline-block;
    left: 25px;
    &--h4 {
      font-size: 20px;
      line-height: 24px;
    }
    &--p {
      color: #55dfb4;
      margin: 14px 0;
      font-weight: 300;
      font-size: 46px;
    }
    &--offer {
      font-weight: 700;
      font-size: 12px;
      line-height: 14px;
    }
  }
  &__ul {
    position: relative;
    display: inline-block;
    list-style: none;
    left: 75px;
    top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    &--li {
      position: relative;
      margin-bottom: 15px;
      &:before {
        content: "";
        height: 15px;
        width: 15px;
        background-image: url("./assets/Checkbox.png");
        background-position: center center;
        background-size: cover;
        position: absolute;
        top: 6px;
        left: -25px;
      }
    }
  }
  &__button {
    cursor: pointer;
    background-color: #55dfb4;
    position: relative;
    width: 150px;
    height: 50px;
    border-radius: 18px;
    bottom: -40px;
    left: 60px;
    border: none;
    color: white;
  }
}

.questions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;

  &__h3 {
    position: relative;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
  }
  &__p {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 38px;
  }
  &__ul {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    left: 30px;
    list-style: none;

    &--mail {
      display: inline-block;
    }

    &--phone {
    }
  }

  &__form {
  }
  &__name {
    position: relative;
    margin-top: 57px;
    display: block;
    left: 30px;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.28px;
    color: #08a6e4;
    &--span {
      display: block;
      margin-bottom: 42px;
    }
    &--input {
      display: block;
      border: none;
      background-color: transparent;
      border-bottom: 0.1px solid #95989a;
      width: 312px;
    }
  }

  &__email {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.28px;
    position: relative;
    margin-top: 42px;
    left: 30px;
    color: #08a6e4;
    &--span {
      display: block;
      margin-bottom: 42px;
    }
    &--input {
      display: block;
      border: none;
      width: 312px;
      background-color: transparent;
      border-bottom: 0.1px solid #95989a;
    }
  }

  &__button {
    cursor: pointer;
    position: relative;
    width: 226px;
    height: 57px;
    background: #08a6e4;
    color: white;
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
    border-radius: 35px;
    border: none;
    margin-top: 33px;
    margin-bottom: 44px;
    left: 116px;
  }

  &__consent {
    margin-top: 42px;
    margin-left: 32px;
    &--input {
      display: inline-block;
      position: relative;
      margin-right: 10px;
      top: -115px;
    }

    &--p {
      display: inline-block;
      position: relative;
      // top: 100px;
      width: 277px;
      height: 144px;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;

      color: #707070;
    }
  }
}

.footer {
  display: block;
  height: 89px;
  left: 0px;
  box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);
  background: #f7f7f7;

  &__left {
    display: inline-block;
    margin-top: 22px;
    margin-left: 17px;
  }
  &__h2 {
    position: relative;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    color: #08a6e4;
    color: #08a6e4;
  }
  &__p {
    position: relative;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #a5a5a5;
  }

  &__right {
    display: inline-block;
    margin-left: 70px;
  }

  &__logos {
    &--twitter {
      cursor: pointer;
      margin-right: 20px;
    }

    &--facebook {
      cursor: pointer;
      margin-right: 20px;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__h1 {
      position: inherit;
      margin: 0 50px;
    }

    &__button {
      display: none;
      opacity: 0;
    }

    &__links {
      display: flex;
      opacity: 1;
      font-weight: 700;
      font-size: 11px;
      line-height: 15px;
      color: #a5a5a5;
      margin-right: 115px;
      letter-spacing: 3.28px;
      gap: 105px;
      position: absolute;
      top: 30px;
      right: 0;

      a:nth-child(1) {
        border-bottom: #08a6e4 2px solid;
        // margin-bottom: 30px;
        color: black;
        position: relative;
        padding-bottom: 20px;
        top: 0px;
      }
    }
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    width: 100%;
    height: 100%;

    &__h2 {
      width: 100%;
      margin: 0;
      left: 0;
      font-weight: 400;
      font-size: 49px;
      line-height: 57px;
    }

    &__p {
      width: 100%;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      margin-top: 20px;
      left: 0;
    }

    &__button {
      width: 440px;
      height: 67px;
      left: 0;
      background: #08a6e4;
      color: white;
      border: none;
      box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
      border-radius: 40px;
    }
  }

  .background {
    display: block;
    position: relative;
    width: 100%;
    height: 20%;
  }

  .results {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 100px;

    &__flex {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 260px;
      margin-top: 100px;
    }

    .person {
      left: 0;
    }
    .eye {
      left: 0;
    }
    .group {
      left: 0;
    }
  }

  .details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 37px;
    padding: 100px 0;

    .first {
      display: flex;
      flex-direction: row-reverse;
      width: 70%;
      min-width: 900px;
      justify-content: space-between;
      align-items: center;
      left: 0;
      top: 0;

      &__description {
        margin-left: 36px;
        &--h3 {
          width: 100%;
          height: 100%;
          margin-left: 0px;
          margin-bottom: 30px;
          font-size: 36px;
          top: 0;
        }
        &--p {
          margin: 0;
          margin-top: 17px;
          font-size: 16px;
          max-width: 416px;
          height: 66px;
          top: 0;
          margin-bottom: 50px;
        }
      }

      &__image {
        position: relative;
        margin-right: 93px;
        &--photo {
          position: absolute;
          margin: 0;
          width: 386.44px;
          height: 219px;
          top: -80px;
          right: 0;
        }

        &--circle {
          width: 180px;
          height: 180px;
          border-radius: 41px;
          top: -100px;
          right: 0px;
          transform: rotate(45deg);
        }
      }

      &__description {
        border-bottom: 4px solid #fb3b64;
      }
    }

    .shop {
      background-color: white;
      display: flex;
      width: 70%;
      min-width: 900px;
      justify-content: space-evenly;
      align-items: center;
      left: 0;
      top: 0;
      &__description {
        margin-right: 20px;
        border-bottom: 4px solid #08a6e4;
        &--h3 {
          margin: 0;
          max-width: 259px;
          height: 84px;
          margin-left: 0px;
          font-weight: 400;
          font-size: 36px;
          line-height: 42px;
        }
        &--p {
          margin: 0;
          margin-top: 30px;
          max-width: 416px;
        }
      }

      &__image {
        position: relative;
        width: 50%;
        &--photo {
          width: 100%;
          max-width: 426px;
          height: 328px;
          margin: 0;
        }

        &--circle {
          width: 320px;
          height: 320px;
          border-radius: 50&;
          top: 0;
          left: 0;
        }
      }
    }

    .brand {
      display: flex;
      width: 70%;
      min-width: 900px;
      justify-content: space-between;
      left: 0;
      top: 0;

      &__description {
        width: 60%;
        height: 300px;
        &--h3 {
          position: relative;
          max-width: 348px;
          font-family: "Raleway";
          font-style: normal;
          font-weight: 400;
          font-size: 30px;
          line-height: 35px;
          margin-left: 35px;
        }

        &--p {
          margin: 0;
          margin-top: 17px;
          margin-left: 35px;
          font-size: 16px;
          max-width: 416px;
          border-bottom: 4px solid #55dfb4;
        }
      }
      &__image {
        &--circle {
          position: relative;
          width: 100%;
          height: 100%;
          background-color: #55dfb4;
          z-index: 1;
          top: 0;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 80%;
          }
        }
      }
    }
  }

  .pricing {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &__h3 {
      margin-top: 100px;
      margin-bottom: 70px;
    }
    &__details {
      display: flex;
      gap: 70px;
      justify-content: center;
      align-items: center;
    }

    .suscription {
      width: 80%;
      min-width: 300px;
      height: 461px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__ul {
        left: 0;
      }
      &__button {
        left: 0;
        bottom: -100px;
      }
    }
    .suscription1 {
      width: 80%;
      min-width: 300px;
      height: 461px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__ul {
        left: 0;
      }
      &__button {
        left: 0;
        bottom: -80px;
      }
    }
    .suscription2 {
      width: 80%;
      min-width: 300px;
      height: 461px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__ul {
        left: 0;
      }
      &__button {
        left: 0;
        bottom: -80px;
      }
    }
  }
  .div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .questions {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 150px;
    gap: 100px;
    &__h3 {
      left: 0;
      position: inherit;
    }

    &__p {
      margin-top: 20;
      position: inherit;
    }

    &__ul {
      left: 0;
      display: flex;
      gap: 40px;
      color: #a5a5a5;

      &--phone {
        display: flex;
        gap: 5px;
      }
      &--mail {
        display: flex;
        gap: 5px;
      }
    }

    &__name {
      margin: 0;
      position: inherit;
    }
    &__email {
      position: inherit;
    }

    &__consent {
      margin-left: 0px;
    }

    &__buton {
      width: 226px;
      height: 57px;
    }

    &__details {
      margin-right: 100px;
    }
  }

  .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
      margin-left: 120px;
      margin-top: 0;
    }

    &__right {
      margin-right: 120px;
    }
  }
}

// JAVASCRIPT STYLES

.scroll-top-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: calc(4.25rem + 1vw);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: whitesmoke;
  color: #07ace6;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out;
  border: 1px solid black;
}

.scroll-top-btn:hover {
  background-color: rgba(7, 172, 230, 0.29);
  color: darkblue;
}

.hidden {
  display: none;
}

// SCROLL PORCENTAJE
#scroll-porcentaje {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  background-color: #07ace6;
  color: #07ace6;
  width: 1px;
  height: 10px;
}

//SLIDER
.slider {
  position: relative;
  border: thin solid black;
  width: 50%;
  margin: 1rem auto;
  text-align: center;
}

.slider-slides {
  position: relative;
  height: 400px;
}

.slider-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
}

.slider-slide img {
  height: inherit;
  width: inherit;
  object-fit: cover;
  object-position: 50% 50%;
}

.slider-slide.active {
  opacity: 1;
  visibility: visible;
}

.slider-btn {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  font-size: 3em;
  font-weight: bold;
}

.slider a {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: thin solid black;
  text-decoration: none;
  background-color: white;
  color: black;
  transition: all 0.3s ease;
}

.slider a:hover {
  color: grey;
}

//PANEL BUTTON
.panel.is-active {
  opacity: 1;
  visibility: visible;
  display: flex;
  background-color: yellow;

  img:nth-child(1) {
    background-color: red;
  }
}
.header__button--menu {
  background-color: red;
}

//MODAL
.modal {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.55);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.is-open {
  display: flex;
}

.modal-container {
  position: relative;
  padding: 1rem;
  min-width: 320px;
  max-width: 480px;
  min-height: 200px;
  max-height: 600px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

// #checkboxForm {
//   cursor: pointer;
//   appearance: none;
//   width: 20px;
//   height: 20px;
//   border: red 1px solid;
// }
