* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  font-family: "Raleway";
  font-style: normal;
}

.header {
  display: block;
  text-align: center;
  width: 375px;
  height: 70px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
}
.header__h1 {
  text-align: center;
  position: absolute;
  font-weight: 300;
  margin: 17px;
  color: #08a6e4;
}
.header__button {
  background-color: #08a6e4;
  position: absolute;
  width: 20px;
  height: 12px;
  left: 325px;
  margin: 29px 0;
}

.home {
  display: block;
  position: relative;
  width: 310px;
  height: 213px;
  margin-top: 100px;
  left: 33px;
}
.home__h2 {
  position: relative;
  width: 162px;
  height: 57px;
  font-weight: 400;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  left: 73.59px;
}
.home__p {
  position: relative;
  width: 308px;
  height: 57px;
  left: 1.56px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #000000;
}
.home__button {
  width: 310px;
  height: 67px;
  background: #08a6e4;
  color: white;
  border: none;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  border-radius: 40px;
}

.background {
  display: block;
  position: relative;
  width: 375px;
  height: 267px;
  margin-top: 51px;
}

.results {
  background-color: yellow;
  display: block;
  width: 375px;
  top: 714px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #000000;
}
.results-title {
  background-color: green;
  display: block;
  font-weight: 300;
  margin-top: 13px;
}
.results-logo {
  display: block;
}
.results-logo--1 {
  background-color: red;
  position: relative;
  width: 117px;
  height: 140px;
  margin-top: 25px;
}
.results-logo--2 {
  background-color: blue;
  position: relative;
  width: 176px;
  height: 167px;
  margin-top: 25px;
}
.results-logo--3 {
  background-color: greenyellow;
  position: relative;
  width: 163px;
  height: 168px;
  margin-top: 25px;
}

.Details {
  display: block;
  background: red;
  width: 375px;
  height: 1395.66px;
}
.Details .First {
  background-color: cornflowerblue;
  position: relative;
  top: 42px;
  left: 30px;
  width: 314px;
  height: 370px;
}
.Details .First-description {
  margin-top: 26px;
}
.Details .First-description--title {
  width: 198px;
  height: 72px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
}
.Details .First-description--paragraph {
  margin-top: 10px;
  position: absolute;
  width: 272px;
  height: 84px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.Details .First-image {
  background-color: blueviolet;
  margin-top: 37px;
}
.Details .First-image--photo {
  width: 192.76px;
  height: 109.93px;
}
.Details .Shop {
  background-color: cornflowerblue;
  position: relative;
  top: 42px;
  left: 30px;
  width: 314px;
  height: 370px;
}
.Details .Shop-description {
  margin-top: 26px;
}
.Details .Shop-description--title {
  width: 218px;
  height: 70px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
}
.Details .Shop-description--paragraph {
  margin-top: 10px;
  position: absolute;
  width: 272px;
  height: 84px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.Details .Shop-image {
  background-color: blueviolet;
  margin-top: 37px;
}
.Details .Shop-image--photo {
  width: 192.76px;
  height: 109.93px;
}
.Details .Brand {
  background-color: cornflowerblue;
  position: relative;
  top: 42px;
  left: 30px;
  width: 314px;
  height: 370px;
}
.Details .Brand-description {
  margin-top: 26px;
}
.Details .Brand-description--title {
  width: 274px;
  height: 109px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
}
.Details .Brand-description--paragraph {
  margin-top: 10px;
  position: absolute;
  width: 272px;
  height: 84px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.Details .Brand-image {
  background-color: blueviolet;
  margin-top: 37px;
}
.Details .Brand-image--photo {
  width: 192.76px;
  height: 109.93px;
}

.Princing {
  display: block;
}
.Princing-title {
  width: 114px;
  height: 42px;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}

.suscription {
  margin-bottom: 30px;
}
.suscription__general {
  background-color: white;
  position: relative;
  width: 293px;
  height: 251px;
  border: 1px solid red;
  border-radius: 18px;
}
.suscription__price {
  display: inline-block;
  position: relative;
  display: inline-block;
}
.suscription__price--h4 {
  font-size: 20px;
  line-height: 24px;
}
.suscription__price--p {
  font-weight: 300;
  font-size: 46px;
}
.suscription__ul {
  position: relative;
  display: inline-block;
  list-style: none;
  left: 70px;
  top: 20px;
}
.suscription__ul--li {
  position: relative;
  margin-bottom: 15px;
}
.suscription__ul--li:before {
  content: "";
  height: 15px;
  width: 15px;
  background-image: url("./assets/checbox-success.png");
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 6px;
  left: -15px;
}
.suscription__button {
  background-color: #eb476e;
  position: relative;
  width: 150px;
  height: 50px;
  border-radius: 18px;
  bottom: -40px;
  left: 60px;
  border: none;
  color: white;
}

.suscription1 {
  margin-bottom: 30px;
}
.suscription1__general {
  background-color: white;
  position: relative;
  width: 293px;
  height: 251px;
  border: 1px solid #07ace6;
  border-radius: 18px;
}
.suscription1__price {
  display: inline-block;
  position: relative;
  display: inline-block;
}
.suscription1__price--h4 {
  font-size: 20px;
  line-height: 24px;
}
.suscription1__price--p {
  font-weight: 300;
  font-size: 46px;
}
.suscription1__price--offer {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
}
.suscription1__ul {
  position: relative;
  display: inline-block;
  list-style: none;
  left: 70px;
  top: 20px;
}
.suscription1__ul--li {
  position: relative;
  margin-bottom: 15px;
}
.suscription1__ul--li:before {
  content: "";
  height: 15px;
  width: 15px;
  background-image: url("./assets/checbox-success.png");
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 6px;
  left: -15px;
}
.suscription1__button {
  background-color: #07ace6;
  position: relative;
  width: 150px;
  height: 50px;
  border-radius: 18px;
  bottom: -40px;
  left: 60px;
  border: none;
  color: white;
}

.suscription2 {
  margin-bottom: 30px;
}
.suscription2__general {
  background-color: white;
  position: relative;
  width: 293px;
  height: 251px;
  border: 1px solid #55dfb4;
  border-radius: 18px;
}
.suscription2__price {
  display: inline-block;
  position: relative;
  display: inline-block;
}
.suscription2__price--h4 {
  font-size: 20px;
  line-height: 24px;
}
.suscription2__price--p {
  font-weight: 300;
  font-size: 46px;
}
.suscription2__price--offer {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
}
.suscription2__ul {
  position: relative;
  display: inline-block;
  list-style: none;
  left: 70px;
  top: 20px;
}
.suscription2__ul--li {
  position: relative;
  margin-bottom: 15px;
}
.suscription2__ul--li:before {
  content: "";
  height: 15px;
  width: 15px;
  background-image: url("./assets/checbox-success.png");
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 6px;
  left: -15px;
}
.suscription2__button {
  background-color: #55dfb4;
  position: relative;
  width: 150px;
  height: 50px;
  border-radius: 18px;
  bottom: -40px;
  left: 60px;
  border: none;
  color: white;
}

.questions__h3 {
  position: relative;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  left: 30px;
}
.questions__p {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  left: 30px;
  margin-bottom: 38px;
}
.questions__ul {
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  left: 30px;
  list-style: none;
}
.questions__form {
  background-color: red;
}
.questions__name {
  position: relative;
  margin-top: 57px;
  display: block;
  left: 30px;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 3.28px;
  color: #08a6e4;
}
.questions__name--span {
  display: block;
  margin-bottom: 42px;
}
.questions__name--input {
  display: block;
  border: none;
  background-color: transparent;
  border-bottom: 0.1px solid #95989a;
  width: 312px;
}
.questions__email {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 3.28px;
  position: relative;
  margin-top: 42px;
  left: 30px;
  color: #08a6e4;
}
.questions__email--span {
  display: block;
  margin-bottom: 42px;
}
.questions__email--input {
  display: block;
  border: none;
  width: 312px;
  background-color: transparent;
  border-bottom: 0.1px solid #95989a;
}
.questions__button {
  width: 226px;
  height: 57px;
  background: #08a6e4;
  color: white;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  border-radius: 35px;
  border: none;
}

.Footer {
  display: block;
  background-color: brown;
  width: 375px;
  height: 89px;
  left: 0px;
  box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);
}
.Footer-title {
  position: relative;
  font-weight: 300;
  color: #08a6e4;
}
.Footer-copyright {
  position: relative;
  font-weight: 400;
  color: #a5a5a5;
}/*# sourceMappingURL=index.css.map */